#form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1d232c;
  border: 1px solid white;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  z-index: 1000;
}

#form-container h2 {
  margin-bottom: 15px;
  text-align: center;
}

#form-container label {
  display: block;
  margin-top: 10px;
}

#form-container input,
#form-container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

/* Placeholder */
#form-container input::placeholder {
  color: #aaa;
}

/* Focus bonito */
#form-container input:focus,
#form-container select:focus {
  outline: none;
  border: 1px solid #00c3ff;
  box-shadow: 0 0 8px rgba(0, 195, 255, 0.5);
  background: #2a2a2a;
}

/* Ações */
.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Botões */
.form-actions .btn {
  flex: 1;
  padding: 10px;

  border: none;
  border-radius: 6px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

/* Botão salvar */
.btn-save {
  background: linear-gradient(135deg, #00c3ff, #0066ff);
  color: #fff;
}

.btn-save:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 195, 255, 0.4);
}

/* Botão cancelar */
.btn-close {
  background: red;
  color: #fff;
}

.btn-close:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #d53e3e;
}



/* Botão Limpar */
.btn-clean {
  background: white;
  color: #000;
}

.btn-clean:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #fff;
}

#overlay {
  position: fixed;
  inset: 0;
  /* substitui top/left/width/height */

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  z-index: 999;
}