#form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  padding: 25px;

  background: rgba(34, 34, 34, 0.95);
  backdrop-filter: blur(10px);

  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  color: #fff;
  z-index: 1000;

  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#form-container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
}

/* Labels */
#form-container label {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  opacity: 0.8;
}

/* Inputs */
#form-container input,
#form-container select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;

  border-radius: 6px;
  border: 1px solid transparent;

  background: #333;
  color: #fff;

  transition: 0.3s;
}

/* Placeholder */
#form-container input::placeholder {
  color: #aaa;
}

/* Focus bonito */
#form-container input:focus,
#form-container select:focus {
  outline: none;
  border: 1px solid #00c3ff;
  box-shadow: 0 0 8px rgba(0, 195, 255, 0.5);
  background: #2a2a2a;
}

/* Ações */
.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Botões */
.form-actions .btn {
  flex: 1;
  padding: 10px;

  border: none;
  border-radius: 6px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

/* Botão salvar */
.btn-save {
  background: linear-gradient(135deg, #00c3ff, #0066ff);
  color: #fff;
}

.btn-save:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 195, 255, 0.4);
}

/* Botão cancelar */
.btn-close {
  background: red;
  color: #fff;
}

.btn-close:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #d53e3e;
}



/* Botão Limpar */
.btn-clean {
  background: white;
  color: #000;
}

.btn-clean:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px #fff;
}

#overlay {
  position: fixed;
  inset: 0;
  /* substitui top/left/width/height */

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  z-index: 999;
}

#form-container {
  position: fixed;
  z-index: 1000;
}

@keyframes fadeOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
